@{
  Layout = "_Layout";
}

@using RecipeBox.Models;
@model IEnumerable<RecipeBox.Models.Recipe>

<h1>Recipes for @User.Identity.Name</h1>

@if (Model.Any())
{
  <ul>
    @foreach (Recipe recipe in Model)
    {
      <li>@Html.ActionLink($"{recipe.Name}", "Details", new {id = recipe.RecipeId })</li>
    }
  </ul>
}
else
{
  <h3>You still need to add recipes, currently there is none.</h3>
}

<p>@Html.ActionLink("Add new recipe", "Create")</p>

<p>@Html.ActionLink("Home", "Index", "Home")</p>